@import "tailwindcss";

.loader {
    @apply border-t-purple-600; /* Customize loader color */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

* {
    font-family: "Inter";
    /* color: #06244B; */
}

body, html{
    background-color: var(--color-gray-100) /* oklch(0.967 0.003 264.542) = #f3f4f6 */;
    min-width: 320px;
}
